<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>authenticator</servlet-name>
        <servlet-class>authenticator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbConnect</servlet-name>
        <servlet-class>dbConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>encryption</servlet-name>
        <servlet-class>encryption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginCheck</servlet-name>
        <servlet-class>loginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authenticator</servlet-name>
        <url-pattern>/authenticator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbConnect</servlet-name>
        <url-pattern>/dbConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>encryption</servlet-name>
        <url-pattern>/encryption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginCheck</servlet-name>
        <url-pattern>/loginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
